/* Banner design */
.banner {
  color: $gray-lighter;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 300%;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
  p {
    font-size: 150%;
    color: $gray-lighter;
    margin-bottom: 20px;
  }
}
/* Banner design */
