/* Footer design */
.footer{
  background: $gray-darker;
  color:$gray-lighter;
  padding: 20px 0;
  a{
    color:$gray-lighter;
    font-size: 150%;
    margin-right:15px;
    -webkit-transition: all 0.2s ease;
    &:hover{
      color:$brand-color;
    }
  }
}

