/* Footer design */
.footer{
  background: #333333;
  color:#CCCCC7;
  padding: 20px 0;

}

.footer a{
  color:#CCCCC7;
  font-size: 25px;
  margin-right:15px;
  -webkit-transition: all 0.2s ease;
}

.footer a:hover{
  color:yellow;
}

