/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700');
$base-font: "Roboto", "Helvetica", "sans-serif";
$header-font: "Roboto", "Helvetica", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;
$header-weight: 400;
$text-weight: 100;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #cddc39;

$red: #d32f2f;
$blue: #42a5f5;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;

// Gray scale
$gray-darker:  #263238; // #222
$gray-dark:    #607d8b;   // #333
$gray:         #b0bec5; // #555
$gray-light:   #cfd8dc; // #777
$gray-lighter: #eceff1; // #eee
